<!-- demo_1
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-head></app-head>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-body></app-body>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
-->

<!-- Pipes
<div class="container-fluid">
  <div class="row">
    <h1>Test de Pipes</h1>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of informacion"> 
      <p> {{ item.nombre | concatName:item.apellido }} </p>
      {{ item.nombre | slice:0:2 }}
    </li>
  </ul>
</div>
-->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Router</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/componenteUno']">Componente Uno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/componenteDos']">Componente Dos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/componenteUno', 10]">Uno con 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/componenteDos', 20]">Dos con 20</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/RutaSinControl']">????</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>